*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Card{
  background-image:url("./components/images/back-to-future.jpg");
  height: 100vh;
  padding-top:200px;
}
.modal{
  width: 350px;
  height: 300px;
  background-color:black;
  opacity: 0.6;
  margin: 0 auto;
border-radius:5px;
text-align: center;
justify-content: center;
}
.modal h1{
  color: white;
  padding-top: 30px;
}
select{
  width: 300px;
  height: 40px;
}
#section1{
  margin-top: 35px;
  margin-bottom: 15px;
  background-color:black;
  opacity: 0.2;
  color: white;
  opacity: 1;
  border: none;
  font-size: 20px;
}
#section2{
  margin-bottom: 15px;
  background-color:black;
  opacity: 0.2;
  color: white;
  opacity: 1;
  border: none;
  font-size: 20px;
}
form button{
  width: 150px;
  height: 40px;
  border-radius: 5px;
  font-size: 20px;
  margin-top: 30px;
}
.header{
  padding-top:50px;
  padding-bottom: 50px;
  width: 100%;
  background-color: rgb(68, 68, 68);
 z-index: 34232;
 display: flex;
      align-items: center;
      justify-content: space-between;
}
.header-wrapper{
  display: flex;
  gap: 300px;
  padding-left:300px;
}
.header-wrapper p{
  color: white;
  font-size: 15px;
}
span{
  color: white;
  font-size: 15px;
}
.cardss{
  background-image:url("./components/images/sign-road-sunlight-hd-2K-wallpaper.jpg");
  height: 100vh;}
  main{
      height: 100vh;
      padding-top: 20px;
      margin-bottom: 200px; }
    
.div{
  display: flex;
  padding-top: 50px;
  flex-wrap: wrap;
  padding-left: 200px;
  gap: 20px;
  padding-bottom: 300px;
  overflow: auto;
  width: 1400px;
  height: 80vh;
  
}
.div img{
  background-color:black;
  opacity: 0.75;
  width: 200px;
  height: 200px;
  border-radius:5px;
  z-index: 43;
}